name: Continuous Integration

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
concurrency: 
  group: ${{ github.workflow }}-${{github.event_name}}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  PRODUCT: OSIS

jobs:
  build:
    name: Build on ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - os: ubuntu-latest
          build_type: Release

        - os: macos-latest
          build_type: Release

        - os: windows-latest
          build_type: Release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Configure Project
        uses: ./.github/actions/configure-project
        with:
          build-type: ${{ matrix.config.build_type }}
          os: ${{ runner.os }}

      - name: Build
        working-directory: build
        run: |
          cmake --build . --config ${{ matrix.config.build_type }}

      - name: Test
        if: runner.os == 'Windows'
        working-directory: build
        run: |
          ctest -V

      - name: Package
        working-directory: build
        run: |
          cmake --build . --target package --config ${{ matrix.config.build_type }}

      - name: Upload Archive Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OSIS-Installer-${{ runner.os }}-${{ matrix.config.build_type }}-Archive
          path: |
            ${{ github.workspace }}/build/OSIS-*-win64.zip
            ${{ github.workspace }}/build/OSIS-*-*.tar.gz
            ${{ github.workspace }}/build/OSIS-*-*.rpm
          
      - name: Upload Installer Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OSIS-Installer-${{ runner.os }}-${{ matrix.config.build_type }}-Installer
          path: |
            ${{ github.workspace }}/build/OSIS-*-*.rpm

  lint:
    name: Static analysis
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Configure Project
        uses: ./.github/actions/configure-project
        with:
          build-type: Release
          os: ${{ runner.os }}
          
      - uses: cpp-linter/cpp-linter-action@main
        id: linter
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: file
          tidy-checks: "boost-*,bugprone-*,performance-*,readability-*,portability-*,modernize-*,clang-analyzer-*,cppcoreguidelines-*,-modernize-use-trailing-return-type, -readability-function-cognitive-complexity, -readability-redundant-access-specifiers"
          files-changed-only: false
          thread-comments: false
          database: build/compile_commands.json
          ignore: build/*
          tidy-review: true
          step-summary: true

  code-coverage:
    name: Code coverage
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Cache OpenCppCoverage packages.
        uses: actions/cache@v4
        id: OpenCppCoverageCache
        with:
          path: "C:\\Program Files\\OpenCppCoverage"
          key: OpenCppCoverage-Windows-Debug
          restore-keys: OpenCppCoverage-Windows-
              
      - name: Install code coverage tool
        shell: pwsh
        if: steps.OpenCppCoverageCache.outputs.cache-hit != 'true'
        run: |
          choco install opencppcoverage -y

      - name: Configure Project
        uses: ./.github/actions/configure-project
        with:
          build-type: Debug
          os: ${{ runner.os }}

      - name: Build
        working-directory: build
        run: |
          cmake --build . --config Debug

      - name: Run code coverage
        working-directory: build
        run: >
          & "C:\Program Files\OpenCppCoverage\OpenCppCoverage.exe" 
          --modules ${{ github.workspace }}\build\test\TestsOccSceneInteractionService\Debug\TestsOccSceneInteractionService.exe 
          --sources ${{ github.workspace }}\src 
          --export_type=cobertura:coverage.xml 
          -- ${{ github.workspace }}\build\test\TestsOccSceneInteractionService\Debug\TestsOccSceneInteractionService.exe
      
      - name: Upload coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          api-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: build/coverage.xml
          
      - name: Upload Code Coverage Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage.xml
          path: ${{ github.workspace }}/build/coverage.xml
